<header>
    <div class="header-content">
        <span class="one">John Doe</span>
        <span class="two">Software Engineer</span>
        <div class="icons">
          <span class="icon">
              lin
          </span>
          <span class="icon">
              fac
          </span>
          <span class="icon">
              git
          </span>
        </div>
      </div>
    </header>
    <nav>
      <div class="nav-content">
        <ul>
          <li>
            <a routerLink=""
            routerLinkActive="active"
            >Home</a>
          </li>
          <li>
            <a routerLink="/portfolios"
            routerLinkActive="active"
            >Portfolio</a>
          </li>
          <li>
            <a
            routerLink="/resumes"
            routerLinkActive="active"
            >Resume</a>
          </li>
          <li>
            <a
            routerLink="/contact"
            routerLinkActive="active"
            >Contact</a>
          </li>
        </ul>
      </div>
    </nav>
