<!-- <section class="portfolio">
  <div class="portfolio-content">
    <div class="portfolio-row" >
      <div class="portfolio-col" *ngFor="let project of projects;" >
        <app-card [prop]="project"></app-card>
      </div>
    </div>
  </div>
</section> -->

<section class="portfolio">
  <div class="portfolio-content container">
    <div class="mb-2 w-100">
      <div>

        <button class="btn btn-outline-primary"  (click)="iscollapse=!iscollapse">Filter</button>
        <button class="btn btn-outline-secondary" (click)="resetfilter()" [hidden]="!filtering" >Reset</button>
      </div>
      <div [collapse]="iscollapse" [isAnimated]="true">
          <div class="border mb-2 shadow-sm" style="width: 250px;">
            <form class="p-3">
              <div class="row">
                <div class="col">
                  <small><b>Languages</b></small>
                  <div class="form-group">
                    <div class="form-check">

                      <input
                      type="checkbox"
                      class="form-check-input"
                      id=""
                      name="typscript"
                      [(ngModel)]="typescript"
                      (change)="filter()"
                      >
                      <label
                      for=""
                      class="form-check-label"
                      >Typescript</label>
                    </div>

                    <div class="form-check">

                      <input
                      type="checkbox"
                      class="form-check-input"
                      id=""
                      name="js"
                      [(ngModel)]="javascript"
                      (change)="filter()"
                      >
                      <label
                      for=""
                      class="form-check-label"
                      >JS</label>
                    </div>
                    <div class="form-check">

                      <input
                      type="checkbox"
                      class="form-check-input"
                      id=""
                      name="js"
                      [(ngModel)]="python"
                      (change)="filter()"
                      >
                      <label
                      for=""
                      class="form-check-label"
                      >Python</label>
                    </div>

                    <div class="form-check">
                      <input
                      type="checkbox"
                      class="form-check-input"
                      id=""
                      name="C#"
                      [(ngModel)]="csharp"
                      (change)="filter()"
                      >
                      <label
                      for=""
                      class="form-check-label"
                      >C#</label>
                    </div>
                  </div>
                </div>
                <!-- frame -->
                <div class="col">
                  <small><b>Framework</b></small>
                  <div class="form-group">
                    <div class="form-check">

                      <input
                      type="checkbox"
                      class="form-check-input"
                      id=""
                      name="angu"
                      [(ngModel)]="angular"
                      (change)="filter()"
                      >
                      <label
                      for=""
                      class="form-check-label"
                      >Angular</label>
                    </div>
                    <div class="form-check">

                      <input
                      type="checkbox"
                      class="form-check-input"
                      id=""
                      name="angu"
                      [(ngModel)]="react"
                      (change)="filter()"
                      >
                      <label
                      for=""
                      class="form-check-label"
                      >React</label>
                    </div>
                    <div class="form-check">

                      <input
                      type="checkbox"
                      class="form-check-input"
                      id=""
                      name="net"
                      [(ngModel)]="net"
                      (change)="filter()"
                      >
                      <label
                      for=""
                      class="form-check-label"
                      >ASP.NET</label>
                    </div>
                    <div class="form-check">

                      <input
                      type="checkbox"
                      class="form-check-input"
                      id=""
                      name="nodejs"
                      [(ngModel)]="nodeJS"
                      (change)="filter()"
                      >
                      <label
                      for=""
                      class="form-check-label"
                      >NodeJS</label>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 " *ngFor="let project of projects;"  >
        <app-card [prop]="project"></app-card>
      </div>
    </div>
  </div>
</section>
