.portfolio-content{
  max-width: 1200px;
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .portfolio-row{
  margin-top: 10vh;
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
} */

/* .portfolio-col{
  flex: 1 1 250px;
  box-shadow: 5px 5px 5px;
  border-radius: 20px;
  overflow: hidden;

  display: flex;
  flex-direction: column;

} */

