<!-- <div class="max-w-[400px] flex justify-center"> -->

  <img src="" alt="">
  <div class="card-body">
    <small class="text-danger text-center ">okay</small>
    <small class="text-success text-center">okay</small>
    <small class="text-info text-center">okay</small>
    <h5 class="mt-1">Lorem ipsum dolor sit amet.</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, vel eaque id incidunt </p>
    <small class="text-warning text-center">ahhhhh okay then</small>
  </div>
<!-- </div> -->

