<div class="container text-center">
  <button (click)="downloadFile()" class="btn btn-primary mb-5 shadow border">Download File Resume</button>
  <accordion [isAnimated]="true" class="shadow">
    <accordion-group [(isOpen)]="isaccopen">
      <button class="btn btn-block d-flex justify-content-between w-100" accordion-heading>
        <div style="visibility: hidden;">hide</div>
        <div class="btn-link">Work Experience</div>
        <div *ngIf="!isaccopen" style="color:white" class="ro">></div>
        <div *ngIf="isaccopen" style="color:white">v</div>
      </button>
      <div style="text-align:left;">
        <h2>Software Engineer</h2>
        <h3 class="text-primary">Sample Company</h3>
        <ul>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, similique.</li>
          <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, accusamus!</li>
          <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, accusamus!</li>
          <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, accusamus!</li>
          <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, accusamus!</li>
        </ul>
      </div>
    </accordion-group>
    <accordion-group heading="Education">
      <div style="text-align:left;">
        <h2>Software Engineer</h2>
        <h3 class="text-primary">Sample Company</h3>
        <ul>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, similique.</li>
          <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, accusamus!</li>
          <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, accusamus!</li>
          <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, accusamus!</li>
          <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, accusamus!</li>
        </ul>
      </div>
    </accordion-group>
    <accordion-group heading="Eduaction">

    </accordion-group>
  </accordion>
</div>
a
