<div class="app  min-h-screen">
  <div class="max-w-[1100px] p-3 shadow-md mx-auto">
    <div class="app-header flex flex-col items-center justify-center min-h-[20vh] bg-sky-400 text-white rounded-md">
      <span class="title font-bold text-3xl ">Angular Data Table</span>
      <span class="sub-title text-sm font-medium">come mange ur data here pls thenk u</span>
    </div>
    <!-- seach input -->
    <div class="seach-box flex space-x-2 mt-1">
      <input type="search" name="" id=""
      class="placeholder:text-sky-400 outline-none px-2 grow rounded-md border"
      placeholder="Search:"
      >
      <select name="" id=""
      class="outline-none border rounded-md "
      >
        <option value="">5</option>
      </select>
    </div>
    <!-- table -->
    <table class="w-full border-4 mt-1">
      <thead class="border">
        <tr class="border bg-gray-200">
          <th class="text-left p-3">#</th>
          <th class="text-left p-3">Supplier</th>
          <th class="text-left p-3">Address</th>
          <th class="text-left p-3">Email</th>
          <th class="text-left p-3">Phone</th>
          <th class="text-left p-3">Action</th>
        </tr>
      </thead>
      <tbody #tbody (click)="show(tbody)">
        clicj
        <div *ngFor="let item of suppliers" >

        </div>
        <tr >
          <td class="p-3 border-2">c</td>
          <td class="p-3 border-2">a</td>
          <td class="p-3 border-2">su</td>
          <td class="p-3 border-2">s</td>
          <td class="p-3 border-2">d</td>
          <td class="p-3 border-2">
            <div class="btn-group">
              <button class="btn btn-outline-primary">Edit</button>
              <button class="btn btn-outline-danger">Delete</button>
              <button class="btn btn-outline-success">Preview</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination-box flex space-x-1 justify-center mt-2">
      <button
      class=" border rounded-tl-md text-sky-400 hover:bg-sky-400 hover:text-white border-sky-400 font-normal px-2"
      >Preview</button>
      <button
      class=" border border-sky-400   text-sky-400 hover:bg-sky-400 hover:text-white font-normal px-2"
      >1</button>
      <button
      class=" border border-sky-400  rounded-tr-md text-sky-400 hover:bg-sky-400 hover:text-white font-normal px-2"
      >Next</button>
    </div>
  </div>

</div>
