<section class="min-h-[inherit] bg-green-900">
  <div class="section-content pt-[10vh]">
    <div class="row">
      <div class="col-md-12 text-center mt-5">
        <h2 class="text-white">Featured Posts</h2>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
    <div class="row  mx-auto max-w-[900px] h-[300px]">
      <div class="col-3  px-1">
        <div pcard-component class="border w-full mx-0 card h-full"></div>
      </div>
      <div class="col-3  px-1">
        <div pcard-component class="border card h-full"></div>
      </div>
      <div class="col-3  px-1">
        <div pcard-component class="border card h-full"></div>
      </div>
      <div class="col-3 border px-1">
        <div pcard-component class="border card h-full"></div>
      </div>
    </div>

  </div>
</section>
<section class="mt-1">
  <div class="section-content">

    <div class="col-md-12 text-center">
      <h2>Latest Post</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
    </div>
    <div class="row  mx-auto max-w-[900px] h-[600px]">
      <div class="col-4  px-1">
        <div pcard-component class="border w-full mx-0 card h-full"></div>
      </div>
      <div class="col-4  px-1">
        <div pcard-component class="border card h-full"></div>
      </div>
      <div class="col-4  px-1">
        <div pcard-component class="border card h-full"></div>
      </div>
      <div class="col-4  px-1">
        <div pcard-component class="border w-full mx-0 card h-full"></div>
      </div>
      <div class="col-4  px-1">
        <div pcard-component class="border card h-full"></div>
      </div>
      <div class="col-4 mt-1  px-1">
        <div pcard-component class="border card h-full"></div>
      </div>

    </div>
  </div>
</section>
<div
sub-form
class="card bg-green-300 shadow-md max-w-[1200px] mx-auto"
></div>
