<div class="bg-green-900 p-5">
  <div class="content max-w-[1200px] text-white mx-auto">
      <h1 class="text-4xl font-bold">General Knowledge</h1>
      <p>Lorem ipsum dolor sit amet.</p>
  </div>
</div>
<div class="container">
  <div class="row  mx-auto max-w-[900px] h-[600px]">
    <div class="col-4  px-1">
      <div pcard-component class="border w-full mx-0 card h-full"></div>
    </div>
    <div class="col-4  px-1">
      <div pcard-component class="border card h-full"></div>
    </div>
    <div class="col-4  px-1">
      <div pcard-component class="border card h-full"></div>
    </div>
    <div class="col-4  px-1">
      <div pcard-component class="border w-full mx-0 card h-full"></div>
    </div>
    <div class="col-4  px-1">
      <div pcard-component class="border card h-full"></div>
    </div>
    <div class="col-4 mt-1  px-1">
      <div pcard-component class="border card h-full"></div>
    </div>

  </div>
</div>
<div
sub-form
class="card bg-green-300 shadow-md max-w-[1200px] mx-auto"
></div>
