/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
.app{
  min-height: 100vh;
  background-color: #fff;
}
a{
  text-decoration: none;
}
button{
  cursor: pointer;
}
ul{
  list-style: none;
}
section{
  min-height: 100vh;

  display: flex;
  justify-content: center;
}
.s-img{
  height: 200px;
  background-color: black;
  color: white;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
} */
